---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
  title="About Me!"
  description="A post about me."
  pubDate={new Date('June 10 2024')}
  heroImage="/me.JPG"
>
  <h2> Why DevOps? </h2>
  <p>
    I've been messing around with computers as long as I can remember. 
  </p>
  <p>
    First it was installing mods in my favorite games, then building my own gaming PC, then dual booting my personal laptop (and accidentally bricking it), and
    from there, the ball just kept rolling. My childhood of tinkering paid off; I graduated Magna Cum Laude from Northeastern University in May 2023 with a Bachelor's in Computer Science with a concentration in Software.
  </p>
  <p>
    DevOps combines my favorite elements of both IT and computer science. I was always drawn to the practice of designing large scale IT systems, particularly with automating processes as far as possible. 
    DevOps helps me realize these systems in code, a medium I love. I feel lucky to have been involved in a field that so perfectly captures my interests, and I hope to continue my career along this path.
  </p>

  <h2> Long Term Goals? </h2>
  <p>
    Onto the scary stuff. Long term, I'd like to do some architectural work. At the end of the day, I love solving hard problems, and as I evolve in my career, I hope the problems get bigger and harder.
  </p>

  <h2> What Have I Been Working On? </h2>
  <p>
    As I work on more side projects, expect more blog posts on this site. At the time of writing, here are some side projects I am working on:
  </p>
  <p>
    <ul>
      <li>
        <h3>Beginner Homelab</h3>
        <p>
          I've been working on setting up an old laptop as a beginner homelab, running PiHole, Jellyfin, hosting a Samba share, and a k3d cluster. 
          This is my first "homelabbing" experience, and I can already tell it's a slippery slope. 😬
        </p>
      </li>
      <li>
        <h3>Kubectl Plugin</h3>
        <p>
          I've mostly worked with Kubernetes as a platform - building a kubectl plugin is helping me get familiar with the Kubernetes API.
          This plugin will list and remove orphaned pods from the cluster.
        </p>
      </li>
      <li>
        <h3>Neovim Proficiency</h3>
        <p>
          I finally ripped the band-aid off and switched from VSCode to Neovim as my full time editor. I'm still figuring out the kinks and my ideal plugins, but definitely feeling very cool.
        </p>
      </li>
    </ul>
  </p>

  <h2> Contact Info? </h2>
  The quickest way to reach me is by emailing me at <a href="mailto:me@anishmukherjee.info">me@anishmukherjee.info</a>. Feel free to also shoot me a message on my <a href="https://www.linkedin.com/in/anish-mukherjee-64393415a/">LinkedIn</a>. I look forward to hearing from you!

</Layout>
