---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en" data-theme="retro">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div class="flex flex-col flex-grow max-h-full justify-between bg-base-200">
      <Header />
      <main>
        <div class="bg-base-100 p-10">
          <h1>Welcome!</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam
            hendrerit augue mi, quis euismod ipsum hendrerit at. Curabitur
            imperdiet purus vel interdum tempus. Vivamus tincidunt turpis at
            diam tincidunt, non blandit eros interdum. Lorem ipsum dolor sit
            amet, consectetur adipiscing elit. Sed in imperdiet mauris.
            Curabitur dictum nibh at tincidunt accumsan. Donec eget ultrices
            odio, non pulvinar ipsum. Aenean posuere blandit ipsum ut dignissim.
            Proin sed sodales turpis.
          </p>
          <p>
            Cras venenatis interdum nisl non sagittis. Nullam sollicitudin enim
            ut quam sollicitudin vehicula. Aenean ultrices sed augue eu
            volutpat. Curabitur imperdiet, felis in efficitur fermentum, magna
            tellus aliquam ante, sit amet euismod nisi sem suscipit enim.
            Praesent nec ante eget augue volutpat condimentum. Pellentesque
            tempor odio ac leo congue, quis commodo sapien porttitor. Integer
            rhoncus dui sem, vitae accumsan turpis suscipit id.
          </p>
          <p>
            Sed varius vehicula elementum. Nam in mauris quis metus egestas
            bibendum. Suspendisse tincidunt, nulla sed laoreet lacinia, ligula
            ante mollis metus, ac consectetur erat arcu in velit. Phasellus orci
            purus, tincidunt vel lacinia sed, ultrices vitae mi. Lorem ipsum
            dolor sit amet, consectetur adipiscing elit. Pellentesque eget purus
            non sapien interdum semper. Aliquam venenatis consectetur arcu nec
            egestas. Sed semper, nibh nec pulvinar efficitur, felis nibh
            vehicula mi, in rhoncus velit ligula non magna. Aliquam sit amet
            consectetur diam. Nulla porta finibus risus, in mattis felis sodales
            vehicula. Nullam ornare quam purus, in blandit est dapibus ac.
          </p>
        </div>
      </main>
      <Footer />
    </div>
  </body>
</html>
